BasedOnStyle: LLVM
Language: Cpp
UseTab: Never
IndentWidth: 4
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Right
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: true
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
IndentCaseLabels: false
ColumnLimit: 160
Cpp11BracedListStyle: false
IncludeBlocks: Regroup
SortIncludes: true
SortUsingDeclarations: true
IndentPPDirectives: AfterHash
NamespaceIndentation: All
AccessModifierOffset: -4
PointerAlignment: Left
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakBeforeBraces: Allman
BreakStringLiterals: false
ContinuationIndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpacesInContainerLiterals: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: true
