BasedOnStyle: LLVM
Language: Cpp
UseTab: Never
IndentWidth: 4
AlignAfterOpenBracket: Align
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: false
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
IndentCaseLabels: false
ColumnLimit: 0
Cpp11BracedListStyle: false
IncludeBlocks: Regroup
SortIncludes: true
SortUsingDeclarations: true
IndentPPDirectives: AfterHash
NamespaceIndentation: All
AccessModifierOffset: -4
PointerAlignment: Left
BreakConstructorInitializers: BeforeComma
BreakBeforeBraces: Allman
ContinuationIndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpacesInContainerLiterals: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: true
