CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
/build
/bin/*
!/bin/assets
/bin/assets/shaders/compiled/*.spv
cmake-build-debug-visual-studio
cmake-build-release-visual-studio
